<!-- Основной блок слайдера -->
<div class="slider">

    <!-- Первый слайд -->
    <div class="item">
      <img src="https://c4.wallpaperflare.com/wallpaper/920/360/57/london-city-bridge-westminster-wallpaper-preview.jpg" />
    </div>

    <!-- Второй слайд -->
    <div class="item">
       <img src="https://wikiway.com/upload/hl-photo/964/f87/empayr-steyt-bilding_62.jpg" />

    </div>

    <!-- Третий слайд -->
    <div class="item">
       <img src="https://img1.fonwall.ru/o/tl/pyat-uglov-sankt-peterburg.jpg" />
    </div>

    <!-- Кнопки-стрелочки -->
    <a class="previous" onclick="previousSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
</div>

