<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />

    <style>
        .header-text {
            border: 2px solid black;
            background-color: azure;
            padding: 10px;
        }
    </style>
    <script src="../Static/JS/index.js"></script>
    <script>
        // Проверка на возраст
        checkAge();

        // сохранение сессии
        handleSession()

        // вывод данных сессии в консоль
        sessionLog();
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }

        setTimeout(() => alert("Нравится LifeSpot? " + '\n' + "Подпишитесь на наш Instagram @lifespot999!"), 3000);

    </script>
</head>

<header>
    <div class="header-text">
        <h1>LifeSpot — прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
    </div>
</header>

<!--SIDEBAR-->

<body>
    <div class="input-city">
        <label for="city">Поиск по названию города</label>
        <input name="city" type="text" oninput="filterContent()" />
    </div>
    <div class="video-container">
        <!--Нью-Йорк-->
        <iframe width="500" height="300" src="https://www.youtube.com/live/1-iS7LArMPA?feature=share" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Нью-Йорк, Тайм Сквер</h3>
    </div>

    <div class="video-container">
        <!--Санкт-Петербург-->
        <iframe width="500" height="300" src="https://www.youtube.com/live/rG13FY2ytno?feature=share" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
    </div>

    <div class="video-container">
        <!--Лондон-->
        <iframe width="500" height="300" src="https://www.youtube.com/live/V00D4K9OshI?feature=share" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 class="video-title">Лондон, автобусный маршрут</h3>
    </div>
</body>

<!--FOOTER-->

</html>

